@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #242528;
}

body::-webkit-scrollbar-thumb {
    background: #0088a9;
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 10%;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #242528e1;
    z-index: 2;
    backdrop-filter: blur(20px);
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(/SVG/blackblue.svg);
}

.layer2 {
    background-image: url(/SVG/bluewhite.svg);
}

.layer3 {
    background-image: url(/SVG/blueblack.svg);
}

p {
    font-size: 18px;
}

li, a, button {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.box-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 4px solid #0088a9;
}

.nameinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logolink {
    margin-right: auto;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.get-started {
    margin-left: 20px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-about {
    color: #242528;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    min-width: 50em;
    padding: 2rem 5rem;
    border-radius: 5rem;
    margin: 1rem 0;
}

#section-about ul li form {
    color: #edf0f1;
}

#section-about label{
    color: #edf0f1;
}

.about * {
    color: #242528;
    font-weight: 500;
}

.about h1 {
    text-align: center;
    font-weight: 1000;
    padding-bottom: 1rem;
}

.about h2 {
    padding-bottom: 0.7rem;
}

label, option, form, input, select{
    color: #242528;
}

.white {
    background: #edf0f1;
    color: #242528;
}

.black {
    background: #242528;
}

.blue {
    background: #0088a9;
}

.tabs-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    padding: 0 1rem;
    justify-content: center;
    min-width: 20rem;
}

.tab {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding: 0.2rem 0;
}

.tab h3 {
    font-weight: 500;
}

.tab-img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
}

.tab:hover > .tab-img {
    border: 2px solid #0088a9;
}

.tab:hover > h3 {
    font-weight: 1000;
}

.active {
    padding-left: 1rem;
    background-color: #3c3d42;
    border-radius: 1.75rem;
}

.active > .tab-img {
    border: 2px solid #0088a9;
}

.active > h3 {
    font-weight: 1000;
}

@media (max-width: 60em) {
    .tab > h3 {
        display: none;
    }

    .active {
        background-color: transparent;
    }
}

.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background:url(/images/RandomImages/pexels-yurii-hlei-1365795.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(2n) {
    background:url(/images/RandomImages/image1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(3n) {
    background:url(/images/RandomImages/image2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(4n) {
    background:url(/images/RandomImages/pexels-ash-376464.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(5n) {
    background:url(/images/RandomImages/ChatGPT-Header-1024x486.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }


input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
section{
  padding-top: 90px;
}
.content{
    margin-left: 80px;
}
.content h1{
    font-family: Roboto;
    font-size: 80px;
    color: #262728;
    line-height: 110px;
    margin-bottom: 25px;
}
.content h3{
    font-family: roboto;
    color: #00bf9f;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.content p{
    font-family: roboto;
    font-size: 14px;
    color: #585858;
    line-height: 28px;
    margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}
.gallery h1{
  font-family: roboto, sans-serif;
  text-align: center;
  color: #00bf9f;
  font-size: 40px;
  margin-bottom: 20px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* .mySlides {
  display: none;
} */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 0 3px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
section{
  scroll-padding-top: 100px;
}
.form h1{
  padding-top: 90px;
  font-family: roboto, sans-serif;
  text-align: center;
  color: #00bf9f;
  font-size: 40px;
  margin-bottom: 20px;
}
.form {
  text-align: center;
  }
  #form1 {
  width: 600px;
  background: #fff;
  margin: 0 auto;
  }
  #form1 input[type=text] {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  color: #555;
  display: block;
  line-height: 1.2;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  height: 50px;
  padding: 0 20px 0 23px;
  border: 0;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
  }
  #form1 input[type=text]:focus{
  border: 0;
  outline: none;
  box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
  -moz-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  -webkit-box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
  -o-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  -ms-box-shadow: 0 5px 20px 0 rgba(250,66,81,.1);
  }
  #form1 #fcontent {
  outline: none;
  min-height: 150px;
  }
  #form1 input[type=submit] {
  background-color: #00bf9f;
  height: 42px;
  padding: 5px 20px;
  border-radius: 21px;
  font-size: 14px;

  color: #fff;
  border: 0;
  box-shadow: 0 10px 30px 0 rgb(189 89 212 / 50%);
  -moz-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  -webkit-box-shadow: 0 10px 30px 0 rgb(189 89 212 / 50%);
  -o-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  -ms-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
  }
  #form1 input[type="submit"]:hover {
  background:#CC4949;
  }